
<link rel="stylesheet" href="~/css/DTStylesheet.css" />

@{
	ViewData["Title"] = "Dirty Tactics";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<h3 class="text-center"><small>@ViewData["Message"]</small></h3>


<div class=" ">
	<img src="~/images/Dirty_Tactics.png" class="pull-right logo" alt="dirty-tactics-logo" width="425" height="250" />
</div>
<div class="introduction">
	<p>
		<h2>Who are we?</h2>
		Dirty Tactics is a community originating as a Guild from the game World Of Warcraft, it was made by people from a previous guild, who wanted something else. Dirty Tactics is primarly focused around the game, but as more people joined, it became a community.
		for friends and family.<br />
		Today, Dirty Tactics serves as a community for it's people and they have all together made a community which is kind, welcoming and always willing to bring more people into it's arms.
		We strive to provide anyone a nice place to enjoy their evenings, as well as a place to call home.

	</p>

</div>


<div>
	<img src="~/images/discordLogo.jpg" class="pull-left dlogo" alt="discord-logo" />

</div>
<div class="affairs">
	<p class="text-right">
		<h2 class="text-right">Where to find us?</h2>
		You will most likely be finding us in our community Discord server, were we spend our time talking with eachother and enjoying each others company. <br />
		Discord is a free VoIP designed for gaming communities. Every event regarding the community will be announced there.
		If you are interested in getting invited into our community Discord, feel free to contact any of our community administrators.
		Their online contacts are in the contact tab.
	</p>


</div>


<div class=" ">
	<img src="~/images/Dirty_Tactics.png" class="pull-right logo" alt="dirty-tactics-logo" width="425" height="250" />
</div>
<div class="introduction">
	<p>
		<h2>Who are we? <strong>PLACEHOLDER</strong></h2>
		Dirty Tactics is a community originating as a Guild from the game World Of Warcraft, it was made by people from a previous guild, who wanted something else. Dirty Tactics is primarly focused around the game, but as more people joined, it became a community.
		for friends and family.<br />
		Today, Dirty Tactics serves as a community for it's people and they have all together made a community which is kind, welcoming and always willing to bring more people into it's arms.
		We strive to provide anyone a nice place to enjoy their evenings, as well as a place to home.

	</p>

</div>


