@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    You are not going to get my Address lol.
</address>

<address>
	Heres my Emails though: <br />
    <strong>Hotmail:</strong> <a href="mailto:Noahdavidian@hotmail.dk">Noahdavidian@hotmail.dk</a><br />
    <strong>Gmail:</strong> <a href="mailto:Nuahtyr@gmail.com">Nuahtyr@gmail.com</a>
</address>
