body {

			

}

.introduction {

	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 16px;

}

.affairs {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 16px;
	padding-top: 100px;
	padding-bottom: 140px;
}


.dlogo {
	width: 400px;
	height: 375px;
	padding-top: 20px;
	margin-top: 60px;

}






